name: Deploy Static Website

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'   # Only trigger when website folder changes

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::766593779202:role/gitops-role
          aws-region: us-east-1

      - name: Sync Website to S3
        run: |
          aws s3 sync website/ s3://manish-static-site-prod --delete

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E123456ABC \
            --paths "/*"